
<%- include('templates/header', {tituloweb: 'Titulo de Pagina Productos'}); %>

        <h1>Estoy en la pagina de Productos</h1>
        <h2><%=tituloProductos%></h2> 

<%- include('templates/footer'); %>
